
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
.vertical-divider {
  border-right: 1px solid lightgray;
}

.thumbnail-view {
  position : relative;
  margin : 5px;
  width: 105px;
  height: 105px;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.thumbnail-remove {
  position : absolute;
  border-width: 4px;
  border-color: white;
  border-style: solid;
  right:2px;
  top:2px;
}
